*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
body{
    background-color: rgba(29, 105, 141, 0.479);
}
header{
    text-align: center;
    padding: 40px;
    color: white;
    font-weight: bolder;

}
main > section{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}
section > div > p{
    padding: 2px;
}

footer{
    margin: 10px;
    text-align: center;
    color: white;
}

#msg{
    text-align: center;
    font-size: 1.2em;
    padding: 10px
}